.block {
  border: 2px solid;
  height: 100px;
  width: 100px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

.board {
  position: fixed; /* or absolute */
  top: 30%;
  left: 50%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
